nav  {
    background-color: #0046be;
}

.botnav {
    width: 16rem;
}

ul.pt13 {
    font-size: 13px;
}

.bgwhite {
    background-color: #fff;
}

.herocarousel {
    width: auto;
    height: 150px;
}

.herofont {
    font-size: 13px;

}

.herofont2 {
    padding-top: 0px;
    margin: 0px;
}

.hero {
    background-color: #e3e6e9;
}
    
img.rounded-circle {
    height: 75px;
    width: 75px;
}

.sale {
    font-size: 7.2em;
}

.card-1{
    background-color: #3380cc;
}

.carlogo {
    height: 60px;
    width: 60px;
}

li img {
    height: 150px;
    width: 50px;
}
.deal {
    background-color: maroon;
}

.bestbuy {
    margin: 0px;
}

.totallogo1 {
    height: 150px;
}

.totalbtn {
    
    padding: 0px;
}

.totallogo {
    width: 120px;
    height: 60px;
    margin: auto;
}

.totaltech {
    background-color: #0046be;
}

.totalborder {
    border-right: 2px solid #fff;
    margin: 20px;
}

.p-totaltech {
    font-size: 13px;
}

.stortopa {
    font-size: 10px;
}

.carouselimg {
    height: 100px;
    width: 150px;
}

.chevy {
    height: 200px;
}

